@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .darkModeToggle {
    @apply flex text-white;
  }

  .darkModeToggle div {
    @apply relative mx-2 block h-[20px] w-[30px] cursor-pointer rounded-full bg-grey-3 transition;
  }

  .darkModeToggle div::after {
    @apply absolute left-[1px] top-1/2 z-[1] h-[17px] w-[17px] -translate-y-1/2 rounded-full bg-white shadow-md transition;

    content: '';
  }

  .darkModeToggle div.enabled {
    @apply bg-grey-2 transition-colors;
  }

  .darkModeToggle div.enabled::after {
    @apply -translate-y-1/2 translate-x-[11px] bg-grey-3;
  }
}

.backdrop-enter {
  @apply bg-black/0;
}

.backdrop-enter-active {
  @apply bg-black/75 transition-colors duration-300;
}

.backdrop-enter-done {
  @apply bg-black/75;
}

.backdrop-exit {
  @apply bg-black/75;
}

.backdrop-exit-active {
  @apply bg-black/0 transition duration-300;
}

.dialog-enter {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-[0.05] transform opacity-0;
}

.dialog-enter-active {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 transform opacity-100 transition duration-300;
}

.dialog-enter-done {
  @apply left-1/2
  top-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 transform;
}

.dialog-exit {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-100 transform;
}

.dialog-exit-active {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-[0.05] transform opacity-0 transition duration-300;
}

.notification-enter {
  @apply -translate-y-full scale-0 transform opacity-0;
}

.notification-enter-active {
  @apply translate-y-0 scale-100 transform opacity-100 duration-300 ease-in;
}

.notification-exit-active {
  @apply -translate-x-full scale-0 opacity-0 duration-300 ease-out;
}
